.header {
  height: 110px;
  padding-top: 3px;
  padding-bottom: 10px;
  max-height: 80px;
  background-color: rgb(129, 128, 128);
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  position: sticky;
  z-index: 10;
  top: 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 0 0 10%;
  width: 100%;
  height: 80px;
  background-image: url(../img/emblem.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.nav {
  flex: 0 1 80%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
  color: #FEFFB9;
}

.nav__link:hover,
.nav__link:focus {
  text-shadow: #28281CFF 3px 3px 3px;
}

.main {
  padding-top: 20px;
}

.main__sity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main__sity_text {
  padding-top: 20px;
  padding-right: 20px;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__title {
  flex: 1 0 20%;
}

.title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}

.text {
  margin-bottom: 20px;
  font-size: 20px;
}

.main__sity_img {
  flex: 1 1 50%;
  background-image: url(../img/overview.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.big-title {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
}

.hero {
  margin-bottom: 20px;
}

.hero__container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.swiper-container {
  flex: 1 1 50%; 
}

.hero_text {
  flex: 1 1 50%;
}

.map {
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.map__block {
  flex: 1 0 50%;
}

.map__text {
  flex: 1 0 50%;
}

.footer-field {
  background-color: #9A9696;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__tel_number:hover,
.footer__tel_number:focus {
  text-shadow: #28281CFF 3px 3px 3px;
}

.footer__address {
  font-size: 28px;
  line-height: 1.5;
  color: #FEFFB9;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  line-height: 1.5;
  color: #FEFFB9;
}

.footer__social span {
  margin-bottom: 10px;
}

.social-icon > a {
  margin-right: 15px;
}

.social-icon a svg:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px 5px;
}

.main.container.gray {
  background-color: #babbc0;
}
.scheme {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: #babbc0;
  background-image: url(../img/sheme.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.table {
  padding-top: 10vh;
  width: 100%;
  border: none;
}

.tr {
  position: relative;
  height: 12vh;
  border: none;
}

.td {
  border: none;
  color: rgba(0,0,0,0);
}

.td-hover {
  cursor: pointer;
}

td[data-number="4"]:hover::before {
  content: "Наугольная башня";
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  color: #FEFFB9;
  text-shadow: #28281CFF 3px 3px 3px;
}

td[data-number="6"]:hover::before {
  content: "Башня водяных ворот";
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  color: #FEFFB9;
  text-shadow: #28281CFF 3px 3px 3px;
}

td[data-number="19"]:hover::before {
  content: "Башня На погребу";
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  color: #FEFFB9;
  text-shadow: #28281CFF 3px 3px 3px;
}

td[data-number="22"]:hover::before {
  content: "Ивановская башня";
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  color: #FEFFB9;
  text-shadow: #28281CFF 3px 3px 3px;
}

td[data-number="33"]:hover::before {
  content: "Башня Ивановских ворот";
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  color: #FEFFB9;
  text-shadow: #28281CFF 3px 3px 3px;
}

td[data-number="54"]:hover::before {
  content: "Никитская башня";
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  color: #FEFFB9;
  text-shadow: #28281CFF 3px 3px 3px;
}

td[data-number="38"]:hover::before {
  content: "Башня Одоевских ворот";
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  color: #FEFFB9;
  text-shadow: #28281CFF 3px 3px 3px;
}

td[data-number="23"]:hover::before {
  content: "Спасская башня";
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  color: #FEFFB9;
  text-shadow: #28281CFF 3px 3px 3px;
}

td[data-number="14"]:hover::before {
  content: "Башня Пятницких ворот";
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  color: #FEFFB9;
  text-shadow: #28281CFF 3px 3px 3px;
}

td[data-number="18"]:hover::before {
  content: "Богоявленский собор";
  position: absolute;
  top: 0;
  font-size: 22px;
  color: #FEFFB9;
  font-weight: 700;
  text-shadow: #28281CFF 3px 3px 3px;
}

td[data-number="27"]:hover::before {
  content: "Успенский собор";
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  color: #FEFFB9;
  text-shadow: #28281CFF 3px 3px 3px;
}

td[data-number="15"]:hover::before {
  content: "Музейно-выставочный комплекс";
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  color: #FEFFB9;
  text-shadow: #28281CFF 3px 3px 3px;
}

td[data-number="37"]:hover::before {
  content: 'Музей "Тульские самовары"';
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  color: #FEFFB9;
  text-shadow: #28281CFF 3px 3px 3px;
}

.modal-wrap {
  width: 90%;
  max-height: 90vh;
  background-color: #fff;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 30px;
  overflow: auto;
  transform: translateY(-100%) scale(0.1); 
  transform: scale(0.1); 
  opacity: 0; 
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.modal-wrap .title {
  text-align: center;
}

.modal-wrap img {
  margin-right: 10px;
}

.modal--open .modal-wrap {
  transform: scale(1); 
  transform: translateY(0%) scale(1);
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2c2a2a99;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal--open {
  pointer-events: auto;
  opacity: 1;
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-weight: 700;
  border: none;
  font-size: 24px;
  color: gray;
  background-color: #fff;
}

.modal-img {
  margin-right: 10px;
}



